.contact__container{
    width: 100%;
    height: 670px;
    background: #000;
    position: relative;
}
.contact__bgGold{
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
    right: 0;
    /* transform: translateX(-50%); */
}
.contact__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin-top: 50px;
}
.contact__courseInfo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    color: var(--primary-white);
}
.contact__location{
    padding-bottom: 50px;
}
.contact__location > h2{
    font-family: "roboto-light";
    font-size: 32px;
    padding-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact__location > p{
    font-family: "roboto-light";
    line-height: 1.8;
}
.contact__follow > h2{
    font-family: "roboto-light";
    font-size: 23px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.contact__followIcons{
    display: flex;
    justify-content: space-around;
}

.contact__followIcons > a{
    text-decoration: none;
    color: var(--primary-black);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--primary-white);
    position: relative;
    transition: .3s;
    border: 1px solid var(--primary-white);
}

.contact__followIcons > a:hover{
    background-color: var(--primary-black);
    color: var(--primary-white);
}

.contact__form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.contact__form > form{
    width: 80%;
}
.contact_input,
.contact__form > form > select,
.contact__form > form > button{
    display: block;
    width: 100%;
    margin: 20px 0;
    height: 40px;
    border: none;
    outline: none;
}
.contact_input,
.contact__form > form > select{
    text-indent: 16px;
    font-size: 16px;
}
.contact__form > form > select{
    color: var(--primary-gray);
}
.contact__form > form > button{
    background: var(--primary-yellow-dark);
    color: #000;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 1px;
}

.phone_wrapper{
    display: flex;
    align-items: center;
    color: #000;
    height: 40px;
    max-height: 40px;
    background-color: #fff;
}

.international_code{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.contact__form > form > button:hover{
    background: yellow;
    color:var(--primary-black);
}
.contact__form > form > p{
    color: var(--primary-white);
    width: 100%;
    padding-bottom: 16px;
}
.contact__radio{
    display: flex;
    justify-content: center;
    color: var(--primary-white);
    width: 100%;
}
.contact__radioItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
}

.contact__radioItem > input{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.contact__radioItem > label{
    margin-left: 8px;
    cursor: pointer;
}

.international_code > img{
    width: 30px;
    margin-right: 10px;
}

.captcha{
    margin-top: 20px;
}

@media only screen and (max-width: 680px){
    .contact__container{
        height: 100vh;
    }
    .contact__wrapper{
        padding: 0px;
        align-items: center;
        flex-direction: column;
    }

    .contact__form{
        width: 100%;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 350px){
    .contact__courseInfo{
        width: 100%;
    }

    .contact__form{
        width: 100%;
        padding-bottom: 50px;
    }

    .contact__radio{
        font-size: 13px;
    }
}