.course_map{
    width: 100%;
    display: flex;
    justify-content: center;
}

.course_mapCollection{
    margin-top: 50px;
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course__motive{
    width: 30%;
    height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
}

.course__motive > h1{
    width: 80%;
    font-size: 25px;
    color: var(--primary-white);
    margin: auto;
}

.course__motive > p{
    padding: 20px 0px;
    width: 80%;
    font-size: 18px;
    margin: auto;
    color: var(--primary-yellow);
}

@media screen and (max-width:1300px) {
    .course_mapCollection{
        width: 85%;
    }
}


@media screen and (max-width:1024px) {
    .course_mapCollection{
        width: 100%;
    }

    .course_map{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .course__motive{
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width:420px) {
    .course_mapCollection{
        width: 97%;
    }
}