.about{
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
}
.about__section{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    position: relative;
    margin-bottom: 50px;
}
.about__sectionImage{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__sectionImage > img{
    width: 80%;
}
.about_sectionText{
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about_sectionText > h1{
    color: var(--primary-yellow);
    font-family: 'roboto-thin';
    font-size: 50px;
    width: 70%;

}
.about_sectionText > p{
    color: #949494;
    font-family: 'roboto-light';
    font-size: 20px;
    padding-top: 25px;
    width: 70%;
}

.about_centerText > h1{
    text-align: center;
    color: var(--primary-yellow);
    font-family: 'roboto-thin';
    font-size: 50px;
}
.about_underLine{
    width: 120px;
    height: 3px;
    background: var(--primary-yellow);
    margin: 40px auto;
}

.our_student{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    position: relative;
}
.our_studentItem{
    width: 23%;
    height: 450px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.our_studentItem::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(#00000000 , #000000);
}
.our_studentItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our_studentInfo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    color: var(--primary-white);
    font-family: 'roboto-light';
    text-align: center;
}
.our_studentInfo > h3{
    font-size: 18px;
    transition: .3s;
}
.our_studentItem:hover .our_studentInfo > h3{
    transform: translateY(-5px);
    font-size: 22px;
    color: var(--primary-yellow);
}
.our_studentInfo > p{
    font-size: 14px;
    padding-top: 8px;
}

.about_team{
    width: 80%;
    margin: auto;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about_team > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.circle{
    position: absolute;
    top: -25%;
    right: -45%;
    transform: rotate(23deg);
    width: 800px;
    height: 800px;
    z-index: -1;
    background: linear-gradient(#c4c4c433, #c4c4c407  );
    border-radius: 50%;
}
.a_square_1{
    position: absolute;
    top: 25%;
    right: -25%;
    transform: rotate(23deg);
    width: 400px;
    height: 400px;
    z-index: -1;
    background: linear-gradient(#c4c4c433, #c4c4c407  );
}
.a_square_2{
    position: absolute;
    top: 5%;
    left: -40%;
    transform: rotate(-45deg);
    width: 700px;
    height: 700px;
    z-index: -1;
    background: linear-gradient(#c4c4c433, #c4c4c407  );
}
.a_square_3{
    position: absolute;
    top: -20%;
    left: 0%;
    transform: rotate(-45deg);
    width: 350px;
    height: 350px;
    z-index: -1;
    background: linear-gradient(#c4c4c423, #c4c4c407  );
}



@media screen and (max-width:1380px) {
    .about_sectionText > h1{
        font-size: 42px;
    }
    .about_centerText > h1{
        font-size: 42px;
    }
}
@media screen and (max-width:1150px){
    .about__section{
        width: 92%;
        margin-bottom: 16px;
        /* border: 1px solid red; */
        height: 420px;
    }
    .about_team{
        width: 92%;
    }
    .our_student{
        width: 92%;
    }
}
@media screen and (max-width:990px){
    .about_sectionText{
        padding-left: 10px;
    }
    .our_studentItem{
        height: 350px;
    }
}
@media screen and (max-width:990px){
    .about_sectionText > h1{
        font-size: 36px;
    }
    .about_sectionText > p{
        font-size: 16px;
    }
    .about_centerText > h1{
        font-size: 36px;
    }
    .about_centerText >p{
        font-size: 16px;
    }
}

@media screen and (max-width:850px){
    .about__section{
        width: 92%;
        height: 350px;
    }
}
@media screen and (max-width:780px){
    .about__section{
        flex-direction: column;
        height: auto;
        padding-bottom: 30px;
    }
    .about__sectionImage{
        width: 100%;
    }
    .about_sectionText{
        width: 100%;
    }
    .about__sectionImage:first-child{
        order: 2;
    }
    .about_sectionText > p{
        text-align: center;
        margin: auto;
        padding-bottom: 20px;
    }
    .about_sectionText > h1{
        text-align: center;
        margin: auto;
    }
    .our_student{
        flex-wrap: wrap;
    }
    .our_studentItem{
        width: 46%;
        height: 350px;
        margin-bottom: 16px;
    }
    .about_centerText{
        padding: 20px 0;
    }


    .circle{
        width: 400px;
        height: 400px;
    }
    .a_square_1{
        width: 200px;
        height: 200px;
    }
    .a_square_2{
        width: 400px;
        height: 400px;
    }
    .a_square_3{
        top: -20%;
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:550px){
    .about_team{
        height: 500px;
    }
    .about_sectionText > h1{
        font-size: 30px;
        width: 85%;
    }
    .about_sectionText > p{
        width: 85%;
    }
    .about_centerText > h1{
        font-size: 30px;
    }
    .about_underLine{
        margin: 20px auto;
    }
    .our_studentInfo > h3{
        font-size: 16px;
    }
    .our_studentInfo > p{
        font-size: 12px;
    }
}
@media screen and (max-width:450px){
    .about_team{
        height: 420px;
        width: 98%;
    }
    .our_studentItem{
        height: 300px;
    }
    .about__section{
        width: 98%;
    }
    .our_student{
        width: 98%;
    }
}
@media screen and (max-width:370px){
    .our_studentItem{
        height: 260px;
    }
    .about_team{
        height: 350px;
    }
    .about_sectionText > h1{
        font-size: 26px;
    }
    .about_centerText > h1{
        font-size: 26px;
    }
}