.aducation__course{
    color: #fff;
    padding: 50px 10% ;
}
.aducation__course > h2{
    font-size: 40px;
}
.aducation__course > p{
    width: 38%;
}
.aducation__course > p span{
    color: var(--primary-yellow-dark);
}

.aducation__course-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 35px;
}
.aducation__course-item{
    min-height: 340px;
    border-radius: 43px;
    background: rgba(255, 255, 255, 0.10);
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}
.aducation__course-dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0007, #000b);
}
.aducation__course-item > h2{
    font-size: 40px;
    position: relative;
}
.aducation__course-item > p{
    color: #aaa;
    position: relative;
}


@media screen and (max-width:1500px) {
    .aducation__course-item{
        min-height: 300px;
    }
    .aducation__course-item > h2{
        font-size: 32px;
    }
}

@media screen and (max-width:1100px) {
    .aducation__course{
        padding: 50px 3% ;
    }
    .aducation__course-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:700px) {
    .aducation__course > p{
        width: 90%;
    }
    .aducation__course-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .aducation__course-item{
        padding: 28px;
    }
}